@import 'field.css';

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	display: grid;
	grid-template-columns: 1fr minmax(24em, 20%);
	overflow: hidden;

	font-size: 1.6vh;
}

body.config-closed {
	grid-template-columns: 1fr 0;
}

.canvas-container {
	grid-column: 1;
	grid-row: 1;
	height: 100vh;
}

canvas {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.config-container {
	grid-column: 2;
	grid-row: 1;

	padding: 8px;
	overflow: auto;
}

.control-panel {
	grid-column: 1;
	grid-row: 1;
	justify-self: right;
	align-self: end;
	opacity: 0;

	display: flex;
	flex-direction: column;
}
.control-panel:hover {
	opacity: 0.6;
}
body.config-closed .control-panel {
	align-self: stretch;
}

.control-panel > button {
	width: unset;
	margin: 1em;
}
